@page
@model TestMVC.Pages.Admin.CreateCartModel
@{
    ViewData["Title"] = "Создать картинг";
    Layout = "_AdminLayout";
}

<div class="registration-form-wrap">
    <div class="container">
        <form method="post" class="mt-4" id="cartForm">
            <h4 class="red-heading">Создание картинга</h4>
            
            <!-- Name -->
            <div class="row">
                <label asp-for="Input.Name" class="reg-label">Название</label>
                <div class="input-group input-group-icon">
                    <input class="form-control" asp-for="Input.Name" type="text" placeholder="Введите название">
                    <div class="input-icon">
                        <i class="fas fa-car"></i>
                    </div>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>

            <!-- Description -->
            <div class="row">
                <label asp-for="Input.Desc" class="reg-label">Описание</label>
                <div class="input-group input-group-icon">
                    <textarea class="form-control" asp-for="Input.Desc" rows="4" placeholder="Введите описание"></textarea>
                    <div class="input-icon">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <span asp-validation-for="Input.Desc" class="text-danger"></span>
                </div>
            </div>

            <button id="submitForm" type="submit" class="red-button">Создать картинг</button>
            <div class="back-btn-wrap">
                <a asp-page="./Carts" class="btn btn-light">Назад</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/admin.css">
<link rel="stylesheet" href="~/css/registration.css">

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src='@Url.Content("~/js/adminCarts.js")'></script>
}