@page "{id:int}"
@model TestMVC.Pages.Admin.EditCartModel
@{
    ViewData["Title"] = "Редактировать картинг";
    Layout = User.IsInRole("SuperAdmin") ? "_SuperAdminLayout" : "_AdminLayout";
}

<div class="registration-form-wrap">
    <div class="container">
        <form method="post" id="cartEditForm">
            <input type="hidden" asp-for="Input.Id" />
            <div class="row">
                <h4 class="red-heading">Редактирование картинга</h4>
                
                <!-- Name -->
                <label asp-for="Input.Name" class="reg-label">Название</label>
                <div class="input-group input-group-icon">
                    <input class="form-control" asp-for="Input.Name" type="text" placeholder="Введите название">
                    <div class="input-icon">
                        <i class="fas fa-car"></i>
                    </div>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <!-- Description -->
                <label asp-for="Input.Desc" class="reg-label">Описание</label>
                <div class="input-group input-group-icon">
                    <textarea class="form-control" asp-for="Input.Desc" rows="4" placeholder="Введите описание"></textarea>
                    <div class="input-icon">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <span asp-validation-for="Input.Desc" class="text-danger"></span>
                </div>
            </div>

            <button id="submitForm" type="submit" class="red-button">Сохранить изменения</button>
            <div class="back-btn-wrap">
                <a asp-page="./Carts" class="btn btn-light">Назад</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/admin.css">
<link rel="stylesheet" href="~/css/registration.css">

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src='@Url.Content("~/js/adminCarts.js")'></script>
}