@page
@model TestMVC.Pages.AccModel

@{
    Layout = "_AccountLayout";
}






<div class="content-panel">
    <h4 class="red-heading">Аккаунт</h4>
    <div class="profile-user-info">
        <div class="profile-info-row">
            <div class="profile-info-name"> Имя </div>

            <div class="profile-info-value">
                <span>Username</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> Электронная почта </div>

            <div class="profile-info-value">
                <span>Email</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> Номер телефона </div>

            <div class="profile-info-value">
                <span>+79123456789</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> День рождения </div>

            <div class="profile-info-value">
                <span>2010/06/20</span>
            </div>
        </div>

    </div>
</div>


<link rel="stylesheet" href="~/css/account.css">


@section Scripts{
    <script type="module" src='@Url.Content("~/js/registration.js")'></script>
    <script>
        var menu_link = document.getElementById("acc-menu-link-1");
        menu_link.classList.add("active");
    </script>

}
