@page "{id?}"
@model TestMVC.Pages.AccEditModel
@{
    Layout = "_AccountLayout";
}

<div class="registration-form-wrap">
    <div class="edit-container">
        <form method="post">
            <!-- Account Section -->
            <div class="row">
                <h4 class="red-heading">Редактировать профиль</h4>
                
                <!-- Full Name -->
                <label asp-for="Input.FullName" class="reg-label">Имя <span class="required">*</span></label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.FullName" placeholder="Ваше имя" required>
                    <div class="input-icon">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>

                <!-- Email -->
                <label asp-for="Input.Email" class="reg-label">Электронная почта <span class="required">*</span></label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.Email" placeholder="Ваш адрес эл. почты" required>
                    <div class="input-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <!-- Phone Number -->
                <label asp-for="Input.PhoneNumber" class="reg-label">Номер телефона <span class="required">*</span></label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.PhoneNumber" 
                           placeholder="Например: +79123456789" 
                           @* pattern="^(\+7|7|8)[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$" *@
                           required>
                    <div class="input-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                <!-- Birth Date -->
                <label asp-for="Input.BirthDate" class="reg-label">День рождения <span class="required">*</span></label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.BirthDate" type="date" required>
                    <div class="input-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>

            <div class="reg-break"></div>
            
            <!-- Password Change Section -->
            <div class="row">
                <h4 class="red-heading">Смена пароля</h4>
                
                <!-- Current Password -->
                <label asp-for="Input.OldPassword" class="reg-label">Текущий пароль</label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.OldPassword" type="password" placeholder="Введите текущий пароль">
                    <div class="input-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                
                <!-- New Password -->
                <label asp-for="Input.NewPassword" class="reg-label">Новый пароль</label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.NewPassword" type="password" placeholder="Придумайте новый пароль">
                    <div class="input-icon">
                        <i class="fas fa-unlock"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                
                <!-- Confirm Password -->
                <label asp-for="Input.ConfirmPassword" class="reg-label">Подтвердите новый пароль</label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.ConfirmPassword" type="password" placeholder="Подтвердите ваш новый пароль">
                    <div class="input-icon">
                        <i class="fas fa-key"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <button id="submitForm" type="submit" class="red-button">Сохранить изменения</button>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/registration.css">

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src='@Url.Content("~/js/registration.js")'></script>
    <script>
        var menu_link = document.getElementById("acc-menu-link-3");
        menu_link.classList.add("active");
    </script>
}