@page
@model TestMVC.Pages.AccModel


<div class="account-wrap">
    <div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">Username</li>
                            <li class="email">Email</li>
                            <li class="activity"></li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
        					<li><a class="acc-menu-link" asp-page="/Account/Acc"><span class="fa fa-user"></span> Профиль</a></li>
        					<li class="active"><a class="acc-menu-link" asp-page="/Account/History"><span class="fa fa-history"></span> История заездов</a></li>
        					<li><a class="acc-menu-link" asp-page="/Account/Edit"><span class="fa fa-edit"></span> Редактировать профиль</a></li>
        				</ul>
        			</nav>
                </div>

                <div class="content-panel">
                    <h4 class="red-heading">История заездов</h4>
                    <table id="raceHistory" class="cell-border stripe">
                        <thead>
                            <tr>
                                <th>Дата заезда</th>
                                <th>Время заезда</th>
                                <th>Категория</th>
                                <th>Карт</th>
                                <th>Место</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>01.01.2000</th>
                                <th>8:15-8:30</th>
                                <th>Детский</th>
                                <th>Двухместный</th>
                                <th>1</th>
                            </tr>
                            <tr>
                                <th>04.02.2000</th>
                                <th>9:15-9:30</th>
                                <th>Взрослый</th>
                                <th>Одноместный</th>
                                <th>2</th>
                            </tr>
                            <tr>
                                <th>05.03.2000</th>
                                <th>10:15-10:30</th>
                                <th>Детский</th>
                                <th>Одноместный</th>
                                <th>3</th>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </section>
    </div>
    </div>
</div>


<link rel="stylesheet" href="~/css/account.css">




@section Scripts{
    <script type="module" src='@Url.Content("~/js/history.js")'></script>
}
