@page
@model TestMVC.Pages.LoginModel
@{
    ViewData["Title"] = "Вход";
}

<div class="login-form-wrap">
    <div class="container">
        <form method="post">
            <div class="row">
                <h4 class="red-heading">Вход</h4>
                
                <!-- Email -->
                <label asp-for="Input.Email" class="reg-label">Электронная почта</label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.Email" placeholder="Ваш адрес эл. почты" required>
                    <div class="input-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            
            <div class="row">
                <!-- Password -->
                <label asp-for="Input.Password" class="reg-label">Пароль</label>
                <div class="input-group input-group-icon">
                    <input asp-for="Input.Password" type="password" placeholder="Введите пароль" required>
                    <div class="input-icon">
                        <i class="fas fa-unlock"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Remember Me -->
            <div class="row">
                <div class="input-group">
                    <input asp-for="Input.RememberMe" id="remember-me" type="checkbox">
                    <label for="remember-me" class="reg-label">
                        Запомнить меня
                    </label>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <button id="submitForm" type="submit" class="red-button">Вход</button>
            
            <!-- Registration Link -->
            <div class="row text-center mt-3">
                <a asp-page="/Register" class="reg-link">Нет аккаунта? Зарегистрируйтесь</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/registration.css">

@section Scripts {
<partial name="_ValidationScriptsPartial" />
    <script type="module" src='@Url.Content("~/js/registration.js")'></script>
}