@page
@model TestMVC.Pages.LoginModel

<div class="login-form-wrap">
    <div class="container">
        <form method="post">
            <!-- Account Section -->
            <div class="row">
                <h4 class="red-heading">Вход</h4>
                <label for="login-email" class="reg-label">Электронная почта</label>
                <div class="input-group input-group-icon">
                    <input type="email" placeholder="Ваш адрес эл. почты" id="login-email" required>
                    <div class="input-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <label for="login-password" class="reg-label">Пароль</label>
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="Введите пароль" id="login-password" required>
                    <div class="input-icon">
                        <i class="fas fa-unlock"></i>
                    </div>
                </div>
            </div>


            <button id="submitForm" type="submit" class="red-button">Вход</button>
        </form>
    </div>
</div>

@*
<form method="post">
    <div class="form-group">
        <label asp-for="Email">Электронная почта</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-secondary">Войти</button>
    <a asp-page="/Index" class="btn btn-light">Отмена</a>
</form>
*@

<link rel="stylesheet" href="~/css/registration.css">


@section Scripts{
    <script type="module" src='@Url.Content("~/js/registration.js")'></script>
}
