@page
@model TestMVC.Pages.RegisterModel
<h1>Register</h1>


<form method="post" class="mt-4">
    <div class="mb-3">
        <label>Username:</label>
        <input class="form-control" asp-for="MyUser.UserName" />
        <span asp-validation-for="MyUser.UserName"></span>
    </div>
    <div class="mb-3">
        <label >Birth Date:</label>
        <input class="form-control" asp-for="MyUser.BirthDate" type="date" />
        <span asp-validation-for="MyUser.BirthDate"></span>
    </div>
    <div class="mb-3">
        <label>Phone Number:</label>
        <input class="form-control" asp-for="MyUser.PhoneNum" />
        <span asp-validation-for="MyUser.PhoneNum"></span>
    </div>
    <div class="mb-3">
        <label>Email:</label>
        <input class="form-control" asp-for="MyUser.Email" />
        <span asp-validation-for="MyUser.Email"></span>
    </div>
    <div class="mb-3">
        <label>Password:</label>
        <input class="form-control" asp-for="MyUser.Pwd" type="password" />
        <span asp-validation-for="MyUser.Pwd"></span>
    </div>
    <div class="mb-3">
        <label>User Role:</label>
        <input class="form-control" asp-for="MyUser.UserRole" />
        <span asp-validation-for="MyUser.UserRole"></span>
    </div>
    <div class="mb-3">
        <label>From Where Found Out:</label>
        <input class="form-control" asp-for="MyUser.FromWhereFoundOut" />
        <span asp-validation-for="MyUser.FromWhereFoundOut"></span>
    </div>
    <div class="mb-3">
        <label>Status:</label>
        <input class="form-control" asp-for="MyUser.Status" />
        <span asp-validation-for="MyUser.Status"></span>
    </div>
    <button type="submit" class="btn btn-secondary">Register</button>
</form>

@section Scripts{
}