#admin-users-main-wrap {
    width: 95%;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

#adminUsersMain tbody tr {
    font-weight: 500;
    font-size: 14px;
}

.admin-menu-icon {
    text-decoration: none;
    transition: color 0.3s;
    color: #0075cf
}
.admin-menu-icon:hover {
    color: #0061ab
}
/*
#users-add-icon {
    color: #0075cf
}
#users-add-icon:hover {
    color: #013d6b
}


#users-details-icon {
    color: #0075cf  
}
#users-edit-icon {

}
#users-delete-icon {

} */

.back-button {
    
}