@page
@model TestMVC.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<h3>Участникам</h3>
<hr>
<h5>При прохождении квестов важно соблюдать правила техники безопасности:</h5>
<br>
<ol>
    <li>
        <strong>Слушайте организаторов:</strong>
        <ul>
            <li>Внимательно слушайте инструкции и рекомендации, которые дают организаторы перед началом квеста.</li>
        </ul>
    </li>
    <li>
        <strong>Знайте свои ограничения:</strong>
        <ul>
            <li>Оцените свои физические возможности и не выполняйте задания, которые могут быть для вас слишком сложными или опасными.</li>
        </ul>
    </li>
    <li>
        <strong>Одевайтесь соответственно:</strong>
        <ul>
            <li>Носите удобную и подходящую одежду и обувь, которая позволяет свободно двигаться и защищает от возможных травм (например, закройте ноги и руки).</li>
        </ul>
    </li>
    <li>
        <strong>Будьте внимательны к окружающей среде:</strong>
        <ul>
            <li>Обращайте внимание на свое окружение, избегайте скользких или неровных поверхностей, острых предметов и других потенциальных опасностей.</li>
        </ul>
    </li>
    <li>
        <strong>Соблюдайте дистанцию:</strong>
        <ul>
            <li>Держитесь на безопасном расстоянии от других участников, особенно если задания требуют физического взаимодействия.</li>
        </ul>
    </li>
    <li>
        <strong>Не открывайте двери и шкафы без разрешения:</strong>
        <ul>
            <li>Если в квесте предусмотрены закрытые пространства, не открывайте их без указания организаторов.</li>
        </ul>
    </li>
    <li>
        <strong>Сообщайте о проблемах:</strong>
        <ul>
            <li>Если вы чувствуете себя плохо или сталкиваетесь с трудностями, немедленно сообщите об этом организаторам или другим участникам.</li>
        </ul>
    </li>
    <li>
        <strong>Не используйте силу:</strong>
        <ul>
            <li>Избегайте применения силы при взаимодействии с предметами или другими участниками. Все действия должны быть безопасными и согласованными.</li>
        </ul>
    </li>
    <li>
        <strong>Следите за временем:</strong>
        <ul>
            <li>Убедитесь, что вы знаете, сколько времени у вас осталось, чтобы избежать паники в конце квеста.</li>
        </ul>
    </li>
    <li>
        <strong>Берегите личные вещи:</strong>
        <ul>
            <li>Следите за своими личными вещами и не оставляйте их без присмотра. Организаторы не несут ответственности за потерянные вещи.</li>
        </ul>
    </li>
    <li>
        <strong>Избегайте конфликтов:</strong>
        <ul>
            <li>Если возникают разногласия с другими участниками, старайтесь разрешать их мирным путем и не поддаваться эмоциям.</li>
        </ul>
    </li>
    <li>
        <strong>Помните о здоровье:</strong>
        <ul>
            <li>Если у вас есть медицинские противопоказания (аллергии, хронические заболевания), обязательно сообщите об этом организаторам перед началом квеста.</li>
        </ul>
    </li>
</ol>
<br>
<a asp-page="/Index" class="btn btn-secondary">Назад</a>