@page
@model TestMVC.Pages.ClZap
@{
    ViewData["Title"] = "Помощь с записью";
}

<h1>Как записаться на квесты в "КвестМания"?</h1>

<p>Записаться на квесты в нашем сервисе очень просто! Следуйте этим шагам:</p>

<h2>Шаг 1: Зарегистрируйтесь на нашем сайте</h2>
<p>Перейдите на <a asp-page="Account/Register">страницу регистрации</a>, введите необходимые данные.</p>

<h2>Шаг 2: Выберите квест</h2>
<ol>
    <li>Выберите интересующий вас квест, кликнув на его название для получения подробной информации (описание, продолжительность, количество участников и т.д.).</li>
    <li>Ознакомьтесь с правилами проведения квеста.</li>
</ol>

<h2>Шаг 3: Выберите доступное время, удобное для вас</h2>
<ol>
    <li>На странице квеста найдите раздел с расписанием.</li>
    <li>Выберите удобную дату и время для вашего визита.</li>
    <li>Введите количество участников и возрастную группу участников.</li>
</ol>

<h2>Шаг 4: Заполните форму бронирования</h2>
<ol>
    <li>Нажмите кнопку "Запись на квест", выберите время и тип квеста (взрослый, детский, семейный).</li>
</ol>

<h2>Шаг 5:</h2>
<ol>
    <li>После отправки формы вам позвонит наш администратор для подтверждения вашего бронирования.</li>
    <li>Если у вас возникнут вопросы, вы можете связаться с нами по телефону +7 (495) 123-45-67.</li>
</ol>

<h2>Шаг 6: Подготовьтесь к квесту!</h2>
<p>Ознакомьтесь с рекомендациями по подготовке (одежда, наличие необходимых вещей и т.д.).</p>

<h2>Шаг 7:</h2>
<p>За 20 минут до назначенного времени мы ждем вас по адресу г. Пермь, ул. Квестовая, д. 10, строение 5 для инструктажа и оплаты.</p>

<p>Если у вас возникли дополнительные вопросы, не стесняйтесь обращаться к нам по телефону или электронной почте. Мы всегда рады помочь!</p>

<p>Желаем вам увлекательно провести время на квесте!</p>
<br>
<a asp-page="/Index" class="btn btn-secondary">Назад</a>