@page
@model TestMVC.Pages.Quest2
@{
    ViewData["Title"] = "Home";
}

<h3>Квест 2: "Спасение планеты"</h3>
<hr>
<img src="\img\image2.jpg" alt="Квест 1">
<hr>

<h4>Участники играют роли ученых, которые должны предотвратить экологическую катастрофу, решая задачи и выполняя миссии.</h4>
<hr>
<h4>
<p>Правила:</p>
<p>1. Количество участников: 5-10 человек.</p>
<p>2. Время: 60 минут.</p>
<p>3. Задачи: Участники разбиваются на команды и получают разные задания (например, собрать информацию о загрязнении, провести "эксперименты", решить головоломки).</p>
<p>4. Очки: За каждую выполненную задачу команда получает очки. Задачи могут варьироваться по сложности.</p>
<p>5. Финал: В конце команды представляют свои решения по спасению планеты, и жюри (можно выбрать из числа участников) определяет команду-победителя.</p>
</h4>
<br>
<a asp-page="/Orders" class="btn btn-success" asp-route-quest="2">Записаться</a>
<a asp-page="/Index" class="btn btn-secondary">Назад</a>