@page
@model TestMVC.Pages.Quest3
@{
    ViewData["Title"] = "Home";
}

<h3>Квест 3: "Похищение драгоценностей"</h3>
<hr>
<img src="\img\image3.jpg" alt="Квест 1">
<hr>

<h4>Участники становятся детективами, которые должны раскрыть дело о похищении драгоценностей из музея.</h4>
<hr>
<h4>
<p>Правила:</p>
<p>1. Количество участников: 6-12 человек.</p>
<p>2. Время: 60 минут.</p>
<p>3. Задачи: Участники получают роли (детективы, свидетели, подозреваемые) и информацию о каждом персонаже.</p>
<p>4. Улики: В процессе игры участники могут находить улики и задавать вопросы другим персонажам, чтобы собрать информацию.</p>
<p>5. Финал: В конце квеста участники делают свои предположения о том, кто является преступником, и представляют свои доказательства. Правильный ответ определяет победителя.</p>
</h4>
<br>
<a asp-page="/Orders" class="btn btn-success" asp-route-quest="3">Записаться</a>
<a asp-page="/Index" class="btn btn-secondary">Назад</a>