@page
@model TestMVC.Pages.Quest1
@{
    ViewData["Title"] = "Home";
}

<h3>Квест 1: "Тайна заброшенного особняка"</h3>
<hr>
<img src="\img\image1.jpg" alt="Квест 1">

<hr>
<h4>Участники должны разгадать загадки и найти улики, чтобы раскрыть тайну заброшенного особняка.</h4>
<hr>
<h4>
<p>Правила:</p>
<p>1. Количество участников: 4-8 человек.</p>
<p>2. Время: 60 минут.</p>
<p>3. Задачи: Участники должны исследовать разные комнаты особняка (можно использовать отдельные зоны в помещении) и находить улики, которые помогут разгадать загадки.</p>
<p>4. Загадки: Каждая комната содержит загадку, решение которой открывает доступ к следующей комнате или дает подсказку.</p>
<p>5. Финал: В конце квеста участники должны собрать все подсказки и разгадать главную загадку, чтобы "выйти" из особняка.</p>
</h4>
<br>
<a asp-page="/Orders" class="btn btn-success" asp-route-quest="1">Записаться</a>
<a asp-page="/Index" class="btn btn-secondary">Назад</a>